<header>My App Files</header>

<%= link_to "Add a new file", new_app_path %>

<% @apps.each do |app| %>
<h4>File Name: <%= app.file_name %></h4><br>
<%= link_to "File Details", app_path(app) %><br>
 

<% end %>

