.addapp-body {
  background: url('file-cabinets.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.new-box {
	background-color: #82CAFF;
}

.addapph1 {
	text-decoration: underline;
	font-family: cursive;
	font-size: 60px;
	position: absolute;
	left: 30%;
	color: gold;
	text-shadow: 2px 2px 0px black;
}

.first-line {
	position: absolute;
	bottom: 60%;
	width: 40%;
	margin-left: 33%;
}

.second-line {
	position: absolute;
	bottom: 40%;
	width: 40%;
	margin-left: 35%;
}

.text_area {
	width: 40% !important;
}

.third-line {
	position: absolute;
	bottom: 10%;
	width: 40%;
	margin-left: 33%;
}

.appnewh2 {
	font-size: 35px;
	text-decoration: underline;
	font-family: cursive;
	text-shadow: 2px 2px 0px black;
	font-weight: bold;
	color: gold;
}

.end-form {
	position: absolute;
	bottom: 5%;
	width: 40%;
	margin-left: 33%;


}

.new-button {
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.add-new-errors {
	color: black;
	font-size: 20px;
	width: 50%;
	position: absolute;
	left: 17%;
	bottom: 0.01%;
	border: 2px solid red;

}







