.addapp-body {
  background: url('file-cabinets.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.new-box {
	background-color: #82CAFF;
}

.addapph1 {
	text-decoration: underline;
	font-family: cursive;
	font-size: 60px;
	color: gold;
	text-shadow: 2px 2px 0px black;
}

.text_area { 
	width: 70% !important;
	font-size: 20px;
	color: black;
}

.appnewh2 {
	font-size: 40px;
	text-decoration: underline;
	font-family: cursive;
	text-shadow: 2px 2px 0px black;
	font-weight: bold;
	color: gold;
}

.new-button {
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.add-new-errors {
	color: black;
	font-size: 20px; 
	border: 2px solid red; 

}

.button-div {
	margin-bottom: 20px;
}

.add-form {
	width: 60%;
	font-size: 20px;
}



