@import "bootstrap-sprockets";
@import "bootstrap";
@import "signup";
@import 'login';
@import 'index';
@import 'edit';
@import 'show';
@import 'addnew';
@import url(http://fonts.googleapis.com/css?family=Lobster);
 @font-face { // imports Bootstrap glyphicons 
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
};

