.edit-body {
  background: url('file-cabinets.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.edit-box {
	border: 8px solid gold;
	background-color: #3BB9FF;
	border-style: ridge;
}

.edith1 {
	text-decoration: underline;
	font-size: 50px;
	color: gold;
	text-shadow: 2px 2px 0px black;
}

.edith2 {
	text-decoration: underline;
	font-size: 35px;
	color: gold;
	text-shadow: 2px 2px 0px black;
}

.edit-field {
	font-size: 20px;
}

.edit-end {
	margin-bottom: 20px;
	font-size: 20px;
}

.edit-button {
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.edit-errors {
	color: black;
	font-size: 20px;
	border: 2px solid red;
}








