.index-body {
	background: url('file-cabinets.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.index-box {
	border: 10px solid black;
	background-color: #ADA96E;
	margin-bottom: 10%;
}

.indexh1 {
	text-decoration: underline;
	font-size: 45px;
	text-shadow: 1px 1px 0px black;
	color: #800517;
}

.search-box {
	margin-left: 10px;
}

.add-new {
	font-size: 17px;
	margin-left: 5%;
	
}

.search-words {
	font-size: 28px;
	color: white;
	text-shadow: 1px 1px 0px black;
}

.index-info {
	border: 2px solid black;
	border-left: none;
	border-right: none;
	border-bottom: none;

}

.details-button {
	margin-bottom: 3%;
	font-size: 17px;
}

.index-label {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.index-words {
	font-size: 20px;
	color: #151B8D;
}

.search-button {
	margin-left: 15px;
	font-size: 17px;
}

.search-field {
	font-size: 17px;
}





