.login-body {
  background: url('beach_copy.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.loginh1 { 
	font-size: 55px;
	color: #57E964;
	text-shadow: 2px 2px 0px black;
}

.loginh2 {
	font-size: 55px;
	color: #57E964;
	text-shadow: 2px 2px 0px black;
}


.login-form {
	font-size: 20px;
}

.submit-login { 
	font-size: 22px;
}

.btn-login {
	background-color: #4CC552;
}

.flash {
	font-size: 20px;
	color: black;
	border: 2px solid red;
}










