.show-body {
  background: url('file-cabinets.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.app-infobox {
	border: 8px solid #1F45FC;
  border-style: inset;
	background-color: #E5E4E2;
}


.showh1 {
	text-decoration: underline;
	color: #1F45FC;
	text-shadow: 1px 1px 0px black;
	font-size: 45px;
}

.show-label {
	font-size: 25px;
	color: black;
}

.show-info {
	font-size: 22px;
	color: #1F45FC;
}

.show-buttons {
	color: black;
	font-weight: bold;
	font-size: 17px;

}

.buttons-box {
	margin-bottom: 15px;
}






